pytorch-lightning==2.5.1.post0
torch==2.7.1+cu118
torch-geometric==2.6.1
torch_cluster==1.6.3+pt27cu118
torch_scatter==2.1.2+pt27cu118
torch_sparse==0.6.18+pt27cu118
torch_spline_conv==1.2.2+pt27cu118
torchaudio==2.7.1+cu118
torchmetrics==1.7.2
torchvision==0.22.1+cu118